body{
font-family:'Microsoft Yahei', sans-serif;
background-size:100% auto;
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;
background-image:url(../resources/mountain.png);
}
nav.navbar{
margin:0 0 10px 0;
}
  div.navbar-header{
	padding:10px 5px 5px 18px;
  }
div.content{
display:none;
z-index:1;
}
div.blocks{
margin:0 auto;
float:none;
}
  div.block{
	margin:0;
	padding:3px;
	opacity:0.9;
  }
  div.building{
	border-radius:2px;
	/*border:1px solid rgb(231, 231, 231);*/
  }
  div.block-header{
	margin:0;
	padding-bottom:2px;
  }
	  div.block-desc{
		padding:0;
	  }
	  div.block-name{
		text-align:center;
		padding:1px 1px 1px 1px;
	  }
	  div.block-name a.block-name, div.block-name a.block-name:visited{
		position:relative;
		padding-top:2px;
		display:block;
		color:#000000;
		font-size:14px;
		line-height:32px;
		height:32px;
		border-radius:2px;
		text-decoration:none;
		z-index:10;
	  }
	  div.block-name a.block-name.hover{
		padding-top:2px;
		color:#ffffff;
		text-decoration:none;
		background-color:#2c3e50;
		white-space:nowrap;
	  }
  div.website{
	padding:1px;
  }
  div.website a.website:link,
  div.website a.website:visited{
	background-color:#ffffff;
	display:block;
	position:relative;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
	line-height:45px;
	height:45px;
	font-size:14px;
	border-radius:2px;
	color:#474a4d;
	z-index:10;
	transition-property:background-color, color, font-size;
	transition-duration:0.2s;
	transition-timing-function:ease;
  }
  div.website a span{
	display:block;
	height:100%;
	width:100%;
	overflow:hidden;
  }
  div.website a.website.hover{
	background-color:#2c3e50;
	color:#ffffff;
	font-size:20px;
  }
img.sprite{
background:url(../resources/sprite.png);
background-repeat:no-repeat;
}
img.logo-pic{
height:40px;
width:65px;
background-position:0px -50px;
}
img.logo-char{
height:42px;
width:120px;
background-position:0px 0px;
}
